[submodule "deps/librime"]
	path = deps/librime
	url = https://github.com/rime/librime.git
	branch = master

[submodule "deps/weasel"]
	path = deps/weasel
	url = https://github.com/rime/weasel.git
	branch = master

[submodule "deps/squirrel"]
	path = deps/squirrel
	url = https://github.com/rime/squirrel.git
	branch = master

[submodule "deps/rime-ice"]
	path = deps/rime-ice
	url = https://github.com/iDvel/rime-ice.git
	branch = main
